/bin
/gen

/out
/target
/.idea
*.iml

*.DS_Store

gen-external-apklibs/

/classes
**/res/values/com_crashlytics_export_strings.xml
/proguard_logs
/*/build
/local.properties
.gradle
/local.properties
/.idea/workspace.xml
/build